@import "@fontsource/source-sans-pro";

body {
  box-sizing: border-box;
  font-family: 'Source Sans Pro' !important;
}

.radialbg {
  background-image: radial-gradient(circle, #502685 50%, #242171);
}

.profile-radialbg {
  background-image: radial-gradient(#0B0F15 60%, #172331);
}

.avatar-radialbg {
  background-image: radial-gradient(circle, #1d2f3f 50%, #101A27);
}