.common-btn {
  background-color: $color-white;
  border-radius: 9999px;
  color: $color-black;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  cursor: pointer;
}

.common-input {
  background-color: $bg-primary;
  border: none;
  border-radius: 9999px;
  // box-shadow: 2px 2px 4px rgba(255,255,255,0.1);
  height: 48px;
  font-size: 14px;
  color: $text-secondary;
  caret-color: $color-white;
  padding: 0 10px;

  &:focus {
    outline: none;
  }
}

.checkbox-label {
  color: $text-secondary;
}

.split-line {
  background-color: $bg-third;
  height: 1px;
}

.btn-pill-solid {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(137deg, #80fcf0 0%, #ac5dfa 100%);
    transition: all .35s;
    border-radius: 30px;
    z-index: -1;
  }

  &:hover {
    &:hover:after {
      width: 100%;
    }
  }
}

.sourcepanelbg {
  .sourcepanellink {
    display: none;
  }

  &:hover {
    .sourcepanellink {
      display: block;
    }
  }
}
